@using Microsoft.AspNetCore.Identity
@model List<IdentityRole> 

<h3>Roles</h3>

<p>
    <a asp-action="Create">Crear Nuevo Rol</a>
</p>
<ul>
@foreach (var item in Model)
{
    <li>@item.Name</li>
}
</ul>