@using Microsoft.AspNetCore.Identity
@model List<IdentityRole> 

<h3>Roles</h3>

<p>
    <button type="button" class="btn btn-primary"><a class="Links" asp-action="Create" >Crear Nuevo Role</a></button>
</p>
<ul>
@foreach (var item in Model)
{
    <li>@item.Name</li>
}
</ul>