@model Parcial1.ViewModels.EstudianteCreateViewModel;

@{
    ViewData["Title"] = "Create";
    var cursoList = ViewData["Cursos"];
}

<h1>Create</h1>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreAlumno" class="control-label"></label>
                <input asp-for="NombreAlumno" class="form-control" />
                <span asp-validation-for="NombreAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoAlumno" class="control-label"></label>
                <input asp-for="ApellidoAlumno" class="form-control" />
                <span asp-validation-for="ApellidoAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoElegido" class="control-label"></label>
            </div>

          <select class="" multiple asp-for="CursoIds" id="Cursos" asp-items="ViewBag.Cursos" placeholder="select members" class="form-control w-50 dropdown">
            </select>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
