@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="background">
        <div class="container">
            <div class="text-center align-bottom">
                <br><br><br><br>
                <h1 id="grande">Cursos</h1>
                <h1 class="fst-italic">Elige tu nuevo camino de aprendizaje.</h1>
            </div>
        </div>
    </div>
</body>